

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.dropboxlink {
    padding-left: 12px;
    background: url(../../img/dropbox.png) no-repeat;
    background-size: 1em;
}

.smallmap {
    width: 100%;
    height: 512px;
    border: 1px solid #ccc;
}

.adminmap {
    width: 1024px;
    height: 512px;
    border: 1px solid #ccc;
}

#map_canvas2 img, #map_canvas3 img {
    max-width: none;
}

div.olControlAttribution, div.olControlScaleLine {
    font-family: Verdana;
    font-size: 0.7em;
    bottom: 3px;
}

.layersDiv * label {
    display: inline;
}

.layersDiv * input {
    margin-top: 0px;
}

div.olLayerGoogleCopyright, div.olLayerGoogleV3 {
    position: absolute; 
    right: 0px !important;;
}