{% extends "base.html" %}

{% load staticfiles %}

{% block title %}MNLP :: Lion map{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "js/leaflet/leaflet.css" %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1">Position cloud</a></li>
                    <li><a href="#tabs-2">Heatmap</a></li>
                </ul>
                <div id="tabs-1">
                    <div id="lionmap" class="smallmap"></div>
                </div>
                <div id="tabs-2">
                    <div id="heatmap" class="smallmap"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Lions in Keyna</h2>

            <p>This map is part of a project to study and preserve lions in Kenya. Please visit <a
                    href="http://www.mnlp.org">www.mnlp.org</a> for the full details. The fullscreen map remembers the
                date filter from this page. By default, it shows data of the last 10 days minus the three days. The data
                of the last three days is unavailable to protect the lions.</p>

            <p><a class="btn" href="/full">Fullscreen Map &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Date Filter</h2>

            <div>
                {% load crispy_forms_tags %}
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js_bottom %}
    <script src="{% static "js/leaflet/leaflet-src.js" %}"></script>
    <script src="{% static "js/heatmap/heatmap.js" %}"></script>
    <script src="{% static "js/heatmap/heatmap-leaflet.js" %}"></script>
    <script src="{% static "js/heatmap/QuadTree.js" %}"></script>
    <script type="text/javascript">
        jQuery.extend(jQuery.datepicker, { afterShow: function (event) {
            jQuery.datepicker._getInst(event.target).dpDiv.css('z-index', 9999); //necessary else datepicker appears behind map
        }});

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy"
            }).focus(function (event) {
                        $.datepicker.afterShow(event);
                    });

        });
    </script>
{% endblock %}
