{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "js/OpenLayers/theme/default/google.css" %}">
    <style type="text/css">
    .smallmap {
        width: 1024px;
        height: 512px;
        border: 1px solid #ccc;
    }

    #map_canvas2 img {
        max-width: none;
    }
    </style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.name == 'Dropbox Account' %}
                <td><a href="/admin/{{ app.name|lower }}/dropboxaccount/link" class="dropboxlink">{% trans 'Link Account' %}</a></td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
<div id="footer_map">
    <div id="tabs">
    <ul>
        <li><a href="#tabs-1">Last Position</a></li>
        <li><a href="#tabs-2">Heatmap</a></li>
    </ul>
    <div id="tabs-1">
        <div id="map_canvas" class="smallmap"></div>
    </div>
    <div id="tabs-2">
        <div id="map_canvas2" class="smallmap"></div>
    </div>
</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.7&sensor=false"></script>
    <script src="{% static "js/OpenLayers/OpenLayers.js" %}"></script>
    <script src="{% static "js/mnlp.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            $( "#tabs" ).tabs();
        });
        TheMap.lastpos();
        TheMap.heatmap();
    </script>
</div>
{% endblock %}
